@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1c1c1c;
}
body::-webkit-scrollbar {
  width: 0;
}
.custom__container {
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 744px;
  width: 100%;
  /* border: 1px solid #1c1c1c; */
  padding-left: 15px;
  padding-right: 15px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar button {
  width: 50%;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 16px;
  color: #1c1c1c;
}
.navbar button:hover {
  color: #117dc1;
  background: #edf9ff;
}

.favorit__link.active {
  color: #117dc1;
  background: #edf9ff;
}
.catalog__link.active {
  background: #edf9ff;
  color: #117dc1;
}
.loader {
  text-align: center;
  display: block;
  margin: auto;
}
.loader__absolut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error__level {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  width: 500px;
}
.error__descp {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}
.error__descp h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}
.error__descp p {
  line-height: 23px;
  margin: 0;
}
